.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dashboardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 1200px){
  .dashboardWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px){
  .dashboardWrapper {
    grid-template-columns: 1fr;
  }
}