.item {
  font: 600 14px/16px 'Open Sans', Arial, sans-serif;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.itemActive {
  text-decoration: underline;
  color: #8d3caf;
}