.legendWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.legend {
  display: flex;
  justify-content: space-between;
  font: 400 18px/24px 'Open Sans', Arial, sans-serif;
}

.legend:hover {
  cursor: pointer;
}

.legendActive,
.legend:hover {
  text-decoration: underline;
  font-weight: 600;
  color: #8d3caf;
}

@media screen and (max-width: 1200px) {
  .legendWrapper {
    max-width: 300px;
    margin: 0 auto;
  }
}